NET   "ddr2_addr[0]"                           LOC = "B4"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[10]"                          LOC = "G2"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[11]"                          LOC = "C5"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[12]"                          LOC = "C2"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[1]"                           LOC = "F1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[2]"                           LOC = "A4"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[3]"                           LOC = "E1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[4]"                           LOC = "D5"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[5]"                           LOC = "C1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[6]"                           LOC = "C4"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[7]"                           LOC = "E2"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[8]"                           LOC = "D7"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_addr[9]"                           LOC = "B1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_ba[0]"                             LOC = "J3"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_ba[1]"                             LOC = "G1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_ba[2]"                             LOC = "J2"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_cas_n"                             LOC = "A3"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_ck_n[0]"                           LOC = "H4"    |     IOSTANDARD = DIFF_SSTL18_II       ;
NET   "ddr2_ck_p[0]"                           LOC = "J4"    |     IOSTANDARD = DIFF_SSTL18_II       ;
NET   "ddr2_cke[0]"                            LOC = "K2"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_cs_n[0]"                           LOC = "B3"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dm[0]"                             LOC = "M2"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dm[1]"                             LOC = "U3"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[0]"                             LOC = "L4"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[10]"                            LOC = "V1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[11]"                            LOC = "U4"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[12]"                            LOC = "T5"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[13]"                            LOC = "U1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[14]"                            LOC = "T4"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[15]"                            LOC = "V5"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[1]"                             LOC = "L3"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[2]"                             LOC = "L6"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[3]"                             LOC = "L1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[4]"                             LOC = "K3"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[5]"                             LOC = "M3"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[6]"                             LOC = "M1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[7]"                             LOC = "K5"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[8]"                             LOC = "V4"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dq[9]"                             LOC = "R3"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_dqs_n[0]"                          LOC = "N1"    |     IOSTANDARD = DIFF_SSTL18_II       ;
NET   "ddr2_dqs_n[1]"                          LOC = "V2"    |     IOSTANDARD = DIFF_SSTL18_II       ;
NET   "ddr2_dqs_p[0]"                          LOC = "N2"    |     IOSTANDARD = DIFF_SSTL18_II       ;
NET   "ddr2_dqs_p[1]"                          LOC = "U2"    |     IOSTANDARD = DIFF_SSTL18_II       ;
NET   "ddr2_odt[0]"                            LOC = "B2"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_ras_n"                             LOC = "A1"    |     IOSTANDARD = SSTL18_II            ;
NET   "ddr2_we_n"                              LOC = "K1"    |     IOSTANDARD = SSTL18_II            ;
